<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Login</title>
</h:head>
<body>
	<div align="center">
		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<h:form>
			<p:panel>
				<p:panelGrid columns="2">
					<h:outputText value="Id de usuario:" />
					<p:inputText value="#{beanSegLogin.idSegUsuario}" />
					<h:outputText value="Clave:" />
					<p:password value="#{beanSegLogin.clave}" />
					<p:commandButton value="Login"
						action="#{beanSegLogin.actionLogin()}" icon="pi pi-key"></p:commandButton>
				</p:panelGrid>
			</p:panel>
		</h:form>
		<h:form>
			<p:panel>
				<p:panelGrid columns="2">
					<h:outputText value="Inicializar datos" />
					<p:commandButton value="Inicializar"
						actionListener="#{beanSegLogin.actionListenerInicialiarDemo()}"
						icon="pi pi-close"></p:commandButton>
				</p:panelGrid>
			</p:panel>
		</h:form>
	</div>
</body>
</html>
