<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<h:form>
		<div>
			<center>
				<img src="dynamic.jpg" style="width: 250px; height: 125px;" />
			</center>
			<h2 align="center">FACTURACIÓN ELECTRÓNICA</h2>
		</div>
	</h:form>
	<h:form id="form2">
		<p:panel collapsed="#{beanFacturacion.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo cliente" icon="fa fa-plus"
					update="@form"
					actionListener="#{beanFacturacion.actionListenerColapsarPanel()}"></p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="Cédula:" />
				<p:inputText value="#{beanFacturacion.cliente.cliCedula}" />
				<h:outputText value="Apellidos:" />
				<p:inputText value="#{beanFacturacion.cliente.cliApellidos}" />
				<h:outputText value="Nombres:" />
				<p:inputText value="#{beanFacturacion.cliente.cliNombres}" />
				<h:outputText value="Direccion:" />
				<p:inputText value="#{beanFacturacion.cliente.cliDireccion}" />
				<h:outputText value="Teléfono:" />
				<p:inputText value="#{beanFacturacion.cliente.cliTelefono}" />
				<h:outputText value="Correo:" />
				<p:inputText value="#{beanFacturacion.cliente.cliCorreo}" />
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form, :form2"
					actionListener="#{beanFacturacion.actionListenerInsertarCliente()}" />
			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />
	<h:form>
		<p:panel header="Datos del cliente">
			<p:panelGrid columns="2">
				<h:outputText value="Nombre cliente" />
				<p:selectOneMenu value="#{beanFacturacion.cedulaSeleccionado}">
					<f:selectItems value="#{beanFacturacion.listadoClientes}" var="c"
						itemLabel="#{c.cliCedula} #{c.cliNombres} #{c.cliApellidos}" 
						itemValue="#{c.cliCedula}"></f:selectItems>
				</p:selectOneMenu>
			</p:panelGrid>
		</p:panel>
		<p:panel header="Datos de las categorías">
			<p:panelGrid columns="2">
				<h:outputText value="Descripcion" />
				<p:selectOneMenu
					value="#{beanFacturacion.proCodigoCategoriaSeleccionado}">
					<f:selectItems value="#{beanFacturacion.listaproCategorias}"
						var="p" itemValue="#{p.proCategoria}"
						itemLabel="#{p.proDescripcion} #{p.proCalidad}"></f:selectItems>
				</p:selectOneMenu>
				<h:outputText value="Calidad" />
				<p:spinner min="1" max="100" size="2" ></p:spinner>
				<h:outputText value="Valor" />
				<h:inputText value="100" />
				<p:commandButton value="Guardar" icon="pi pi-save" update=":form4"
					actionListener="#{beanFacturacion.actionListenerGuardarFactura()}"></p:commandButton>
			</p:panelGrid>
		</p:panel>
	</h:form>
	<h:form id="form4">
		<p:dataTable value="#{beanFacturacion.listaFactura}" var="f">
			<p:column headerText="Código">
				<h:outputText value="#{f.proDetalle}" />
			</p:column>
			<p:column headerText="Descripción">
				<h:outputText value="#{f.descripcion}" />
			</p:column>
			<p:column headerText="Calidad">
				<h:outputText value="#{f.calidad}" />
			</p:column>
			<p:column headerText="Precio total">
				<h:outputText value="#{f.total}" />
						<f:facet name="footer">
							<h:outputText value="#{beanFacturacion.total}" />
						</f:facet>
			</p:column>
			<p:column headerText="Opciones">
				<p:commandButton value="Eliminar" icon="pi pi-times"/>
			</p:column>
		</p:dataTable>
	</h:form>
	<h:form>

	</h:form>
</body>
</html>
