<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home"
				action="menu?faces-redirect=true" />
			<p:menuitem actionListener="#{beanFactura.openNewCliente()}"
				value="Crear cliente" icon="pi pi-user-plus" />
			<p:menuitem value="Vuelto" icon="pi pi-money-bill" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<div class="card margin">
		<h:form>
			<p:panel toggleable="true" header="FACTURACIÓN DYNAMIC STUDIO">
				<div class="ui-g ui-fluid ">
					<div class="ui-g-12 p-d-flex p-jc-center p-ai-center">
						<div>
							<div class="ui-g-1 p-mr-0">
								<p:outputLabel style="width:100px" value="Buscar cliente:" />
							</div>
							<div class="ui-inputgroup ui-g-3">
								<p:inputText id="search"
									placeholder="Inserte código o correo" />
								<p:commandButton icon="pi pi-search"
									styleClass="ui-button-success" />
							</div>
						</div>
					</div>
				</div>
			</p:panel>
		</h:form>
	</div>
</body>
</html>
