<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
				action="#{beanClientes.actionReporte()}" />
			<f:facet name="options">
			
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de clientes"></p:staticMessage>
	</h:form>
	
	<h:form id="form1">
		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<p:panel collapsed="#{beanClientes.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo Cliente" icon="fa fa-plus"
					update="@form"
					actionListener="#{beanClientes.actionListenerColapsarPanel()}"></p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
				<h:outputText value="Cédula:" />
				<p:inputText value="#{beanClientes.cliente.cliCedula}" />
				<h:outputText value="Apellidos:" />
				<p:inputText value="#{beanClientes.cliente.cliApellidos}" />
				<h:outputText value="Nombres:" />
				<p:inputText value="#{beanClientes.cliente.cliNombres}" />
				<h:outputText value="Dirección:" />
				<p:inputText value="#{beanClientes.cliente.cliDireccion}" />
				<h:outputText value="Teléfono:" />
				<p:inputText value="#{beanClientes.cliente.cliTelefono}" />
				<h:outputText value="Correo:" />
				<p:inputText value="#{beanClientes.cliente.cliCorreo}" />
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form, :form2"
					actionListener="#{beanClientes.actionListenerInsertarCliente()}" />
			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />
	
	<h:form id="form2">
		<p:panel header="Datos del Cliente">
			<p:dataTable value="#{beanClientes.listaClientes}" reflow="true"
				var="cliente" paginator="true" rows="5">
				<p:column headerText="CÉDULA" filterBy="#{cliente.cliCedula}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{cliente.cliCedula}" />
				</p:column>
				<p:column headerText="APELLIDOS" filterBy="#{cliente.cliApellidos}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{cliente.cliApellidos}" />
				</p:column>
				<p:column headerText="NOMBRES" priority="2">
					<h:outputText value="#{cliente.cliNombres}" />
				</p:column>
				<p:column headerText="DIRECCIÓN" sortBy="#{cliente.cliDireccion}"
					priority="3" >
					<h:outputText value="#{cliente.cliDireccion}" />
				</p:column>
				<p:column headerText="TELÉFONO" sortBy="#{cliente.cliTelefono}"
					priority="3" >
					<h:outputText value="#{cliente.cliTelefono}" />
				</p:column>
				<p:column headerText="CORREO" sortBy="#{cliente.cliCorreo}"
					priority="3" >
					<h:outputText value="#{cliente.cliCorreo}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="Eliminar" update="@form"
						actionListener="#{beanClientes.actionListenerEliminarCliente(cliente.cliCedula)}">
						<p:confirm header="Confirmación" message="Desea eliminar?"
							icon="fa fa-exclamation-triangle"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
						actionListener="#{beanClientes.actionListenerSeleccionarCliente(cliente)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();"></p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Editar Información" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Cédula:" />
			<h:outputText value="#{beanClientes.clienteSeleccionado.cliCedula}" />
			<p:panelGrid columns="2">
				<h:outputText value="Apellidos:" />
				<p:inputText
					value="#{beanClientes.clienteSeleccionado.cliApellidos}" />
				<h:outputText value="Nombres:" />
				<p:inputText 
					value="#{beanClientes.clienteSeleccionado.cliNombres}" />
				<h:outputText value="Dirección:" />
				<p:inputText
					value="#{beanClientes.clienteSeleccionado.cliDireccion}" />
				<h:outputText value="Teléfono:" />
				<p:inputText 
					value="#{beanClientes.clienteSeleccionado.cliTelefono}" />
				<h:outputText value="Correo:" />
				<p:inputText 
					value="#{beanClientes.clienteSeleccionado.cliCorreo}" />
			</p:panelGrid>
			<p:commandButton value="Actualizar" icon="fa fa-save"
				update="@form,:form2"
				actionListener="#{beanClientes.actionListenerActualizarCliente()}" />
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
</body>
</html>
