<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate /> 
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
 				action="#{beanProducto.actionReportes()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Categoria"></p:staticMessage>
	</h:form>
	
	<h:form id="form1">
		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<p:panel collapsed="#{beanProducto.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo Producto" icon="fa fa-plus"
					update="@form"
					actionListener="#{beanProducto.actionListenerColapsarPanel()}"></p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
			
				<h:outputText value="Nueva Categoria" />
				<p:inputText value="#{beanProducto.proCategoria.proCodigoCategoria}" />
				<h:outputText value="Tipo" />
				<p:inputText value="#{beanProducto.proCategoria.proTipo}" />
				<h:outputText value="Material:" />
				<p:inputText value="#{beanProducto.proCategoria.proMaterial}" />
				<h:outputText value="Cantidad" />
				<p:inputText value="#{beanProducto.proCategoria.cantidad}" />
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form, :form2"
					actionListener="#{beanProducto.actionListenerInsertarCategoria()}" />
			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />
	
	<h:form id="form2">
		<p:panel header="Tabla Categorias">
			<p:dataTable value="#{beanProducto.listaCategoria}" reflow="true"
				var="proc" paginator="true" rows="4">
				<p:column headerText="Codigo Categoria" filterBy="#{proc.proCodigoCategoria}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{proc.proCodigoCategoria}" />
				</p:column>
				<p:column headerText="Material" filterBy="#{proc.proMaterial}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{proc.proMaterial}" />
				</p:column>
				<p:column headerText="Tipo" filterBy="#{proc.proTipo}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{proc.proTipo}" />
				</p:column>
				<p:column headerText="Cantidad" sortBy="#{proc.cantidad}"
					priority="3" >
					<h:outputText value="#{proc.cantidad}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="Eliminar" update="@form"
						actionListener="#{beanProducto.actionListenerEliminarCategoria(proc.proCodigoCategoria)}">
						<p:confirm header="Confirmación" message="Desea eliminar?"
							icon="fa fa-exclamation-triangle"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
						actionListener="#{beanProducto.actionListenerSeleccionarCategoria(proc)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();"></p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Editar Información" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="Codigo Categoria" />
			<h:outputText value="#{beanProducto.categoriaSeleccionada.proCodigoCategoria}" />
			<p:panelGrid columns="2">
				<h:outputText value="Material:" />
				<p:inputText
					value="#{beanProducto.categoriaSeleccionada.proMaterial}" />
				<h:outputText value="tipo" />
				<p:inputText 
					value="#{beanProducto.categoriaSeleccionada.proTipo}" />
				<h:outputText value="Cantidad" />
				<p:inputText
					value="#{beanProducto.categoriaSeleccionada.cantidad}" />
			<p:commandButton value="Actualizar" icon="fa fa-save"
				update="@form,:form2"
				actionListener="#{beanProducto.actionListenerActualizarCategoria()}" />
				</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
</body>
</html>
       

