<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head></h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<p:menuitem value="Categoria" icon="pi pi-cog" action="Categoria" />
			<p:menuitem value="Reporte" icon="pi pi-book" ajax="false"
 				action="#{beanProducto.actionReporte()}" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de Productos"></p:staticMessage>
	</h:form>
	
	<h:form id="form1">
		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<p:panel collapsed="#{beanProducto.panelColapsado}">
			<f:facet name="header">
				<p:commandButton value="Nuevo Producto" icon="fa fa-plus"
					update="@form"
					actionListener="#{beanProducto.actionListenerColapsarPanel()}"></p:commandButton>
			</f:facet>
			<p:panelGrid columns="2">
			
				<h:outputText value="Nuevo Codigo" />
				<p:inputText value="#{beanProducto.proDatelle.proCodigoDetalle}" />
				<h:outputText value="Categoria" />
				<p:selectOneMenu value="#{beanProducto.proCodigoCategoria}">
						<f:selectItem itemLabel="Seleccione..." noSelectionOption="true" />
						<f:selectItems value="#{beanProducto.listaCategoria}" var="c"
							itemLabel="#{c.proCodigoCategoria}" itemValue="#{c.proCodigoCategoria}"></f:selectItems>
					</p:selectOneMenu>
				<h:outputText value="Calidad" />
				<p:inputText value="#{beanProducto.proDatelle.proCalidad}" />
				<h:outputText value="Descripcion:" />
				<p:inputText value="#{beanProducto.proDatelle.proDescripcion}" />
				<h:outputText value="Valor" />
				<p:inputText value="#{beanProducto.proDatelle.proValor}" />
				<p:commandButton value="Insertar" icon="fa fa-save"
					update="@form, :form2"
					actionListener="#{beanProducto.actionListenerInsertarProductos()}" />
			</p:panelGrid>
		</p:panel>
	</h:form>
	<br />
	
	<h:form id="form2">
		<p:panel header="Tabla Productos">
			<p:dataTable value="#{beanProducto.listaProductos}" reflow="true"
				var="pro" paginator="true" rows="4">
				<p:column headerText="Codigo Producto" filterBy="#{pro.proCodigoDetalle}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{pro.proCodigoDetalle}" />
				</p:column>
				<p:column headerText="Calidad" filterBy="#{pro.proCalidad}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{pro.proCalidad}" />
				</p:column>
				<p:column headerText="Categoria" filterBy="#{pro.proCategoria.proMaterial}"
					filterMatchMode="contains" priority="1">
					<h:outputText value="#{pro.proCategoria}" />
				</p:column>
				<p:column headerText="Descripcion" priority="2">
					<h:outputText value="#{pro.proDescripcion}" />
				</p:column>
				<p:column headerText="Valor" sortBy="#{pro.proValor}"
					priority="3" >
					<h:outputText value="#{pro.proValor}" />
				</p:column>
				<p:column headerText="OPCIONES" priority="1">
					<p:commandButton icon="fa fa-close" title="Eliminar" update="@form"
						actionListener="#{beanProducto.actionListenerEliminarProducto(pro.proCodigoDetalle)}">
						<p:confirm header="Confirmación" message="Desea eliminar?"
							icon="fa fa-exclamation-triangle"></p:confirm>
					</p:commandButton>
					<p:commandButton icon="fa fa-edit" title="Editar"
						actionListener="#{beanProducto.actionListenerSeleccionarProducto(pro)}"
						update=":formEdicion" oncomplete="PF('dlgEdicion').show();"></p:commandButton>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<p:dialog header="Editar Información" widgetVar="dlgEdicion"
		modal="true">
		<h:form id="formEdicion">
			<p:growl>
				<p:autoUpdate />
			</p:growl>
			<h:outputText value="COdigo Producto" />
			<h:outputText value="#{beanProducto.productoSeleccionado.proCodigoDetalle}" />
			<p:panelGrid columns="2">
				<h:outputText value="Calidad:" />
				<p:inputText
					value="#{beanProducto.productoSeleccionado.proCalidad}" />
				<h:outputText value="Categoria" />
				<p:inputText 
					value="#{beanProducto.productoSeleccionado.proCategoria.proCodigoCategoria}" />
				<h:outputText value="Descripcion:" />
				<p:inputText
					value="#{beanProducto.productoSeleccionado.proDescripcion}" />
				<h:outputText value="Valor" />
				<p:inputText 
					value="#{beanProducto.productoSeleccionado.proValor}" />
			</p:panelGrid>
			<p:commandButton value="Actualizar" icon="fa fa-save"
				update="@form,:form2"
				actionListener="#{beanProducto.actionListenerActualizarProducto()}" />
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no" icon="fa fa-times" />
	</p:confirmDialog>
</body>
</html>
